[Unit]
Description=OpenBTS Store-and-Forward Short Message Service

[Service]
Type=simple
ExecStart=/OpenBTS/smqueue

[Install]
WantedBy=multi-user.target
